<!DOCTYPE html>
<html>
  <head>
    <title>Scmot</title>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <!-- main body -->
    <!-- main body -->
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to("SCMOT", {:controller => 'members', :action => 'index'}, :class => 'navbar-brand') %>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="<%= 'active' if params[:controller] == 'members' %>" ><%= link_to("Member", {:controller => 'members', :action => 'index'} )%></li>
            <li class="<%= 'active' if params[:controller] == 'leaders' %>" ><%= link_to("Leader", {:controller => 'leaders', :action => 'index'} )%></li>
            <li class="<%= 'active' if params[:controller] == 'Message' %>" ><%= link_to("Message", {:controller => 'messages', :action => 'index'} )%></li>
            <li class="<%= 'active' if params[:controller] == 'Email' %>" ><%= link_to("Email", {:controller => 'emails', :action => 'index'} )%></li>     
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="<%= 'active' if session[:username].present?%>" ><%= link_to("Hello, "+session[:username], {:controller => 'access', :action => 'index'} )%></li>
            <li><%= link_to("Logout", {:controller => 'access', :action => 'index'} )%></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="row">
      <div class="col-md-2" id="info-bar"><a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><%= image_tag('list.png')%>Options</a></div>
    </div>
    <div id="wrapper">
          <!-- Sidebar -->
          <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
              <li class="sidebar-brand"><a href="#">Start Bootstrap</a></li>
              <li><a href="#">Dashboard</a></li>
              <li><a href="#">Shortcuts</a></li>
            </ul>
          </div>
          <!-- /#sidebar-wrapper -->
          <!-- Page Content -->
          <div id="page-content-wrapper">
            <div class="container-fluid">
              <div class="row">
                  <div class="span10">
                    <%= yield %>  
                  </div> 
              </div>
            </div>
          </div>
          <!-- /#page-content-wrapper -->
    </div>
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
    <footer class="pull-right"><p>&copy; Shiguang 2014</p></footer>
  </body>
</html>
