<!DOCTYPE html>
<html>
<head>
  <title>Scmot</title>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to("SCMOT", {:controller => 'homes', :action => 'show'}, :class => 'navbar-brand') %>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="<%= 'active' if params[:controller] == 'homes' %>" ><%= link_to(@portals.find(1).area, {:controller => 'members', :action => 'index'} )%></li>
            <li class="<%= 'active' if params[:controller] == 'members' %>" ><%= link_to("Members", {:controller => 'members', :action => 'index'} )%></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to("Login", {:controller => 'leaders', :action => 'login'} )%></li>
            <li></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  <%= yield%>
</body>
</html>
